@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="container" style="max-width: 520px;">
    <div class="text-center">
        <img src="~/images/logo_csb.png" class="img-fluid" />
    </div>
    <h4 class="mb-3 d-none d-sm-block">@Localizer["Title"]</h4>

    <hr />

    <p>@Localizer["Text"]</p>
</div>
<div class="background"></div>